.item {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #d9d9d9;
    border-radius: 0.2rem;
    background-color: #fff;
}
.desc {
    font-size: 16px;
    line-height: 24px;
    color: #434343;
    margin-bottom: 10px;
}
.title {
    font-size: 24px;
    line-height: 32px;
    color: #1f1f1f;
    font-weight:600;
}
